*{
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    color: yellow;
}

body {
    background-image: url(./images/kanyeCollage.png);
    background-size: cover;
    background-attachment: fixed;
    color: black;
    margin: 0;
    padding: 0;
} 

.nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-around;
}

.app{
    margin: auto;
    width: 50%;
    padding: 40px;
}

.quote-div{
    margin: 60px;
    padding: 10px;
}

.quote-button{
    border: 1px solid yellow;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    display: block;
    margin-left: auto;
    margin-right: auto
    /* width: 600px;
    height: 600x; 
    border: 0;
    background-size: cover;
    background: url(./images/kanyeheadbutton.jpg); */
}

